header {
  position: sticky;
  z-index: 10;
  top: 0;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: var(--color-accent);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: auto;
  align-items: center;
  color: var(--color-fg);

  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-fg);
  padding: 1rem;
}

.navbar__item--disabled {
  color: grey;
  text-decoration: none;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.navbar__item--disabled {
  color: grey;
  text-decoration: none;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}







/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-content_cat {
  z-index: 10;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.5rem;
  background-color: var(--color-bg);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.dropdown-content_profile {
  z-index: 10;
  display: none;
  position: absolute;
  top: 100%;
  left: -100%;
  padding: 0.5rem;
  background-color: var(--color-bg);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .navbar__item {
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.dropdown-content .navbar__item:hover {
  text-underline-offset: 0.5rem;
  background-color: var(--color-gray-darker);
}

.navbar__item--disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}





.navbar__profiles_dropdown {
  position: relative;
}


.addprofile__input:focus {
  border: block;
  background-color: var(--color-fg);
  color: var(--color-black);
  
}
















.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}



/* - Header ------------------ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1.65em;
}

/* - Main-nav */

.main-nav {
  /* Position fixe */
  position: fixed;
  /* top:0  right:0 bottom:0 left:15% en une seule propriété */
  inset: 0 0 0 15%;
  /* Disposition en colonne centrée */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Arrière plan */
  background-color: var(--color-bg);

  /* Translation de 100% de la largeur de l'élément à droite */
  translate: 100% 0;

  /* Transition de la translation */
  transition: 0.4s ease-in-out;
}


.main-nav__list {
  /* Disposition en colonne */
  display: flex;
  flex-direction: column;

  /* Gouttiére de 2x16px */
  gap: 2rem;

  /* Taille de la police */
  font-size: 2rem;

  /* Couleur du texte */
  color: var(--text-color)
}

.main-nav__link {
  /* Marge intérieure de 1em */
  padding: 0.2em 1em;
}

.main-nav__link:hover {
  /* Couleur du texte */
  color: var(--btn-color-hover);
}


/* Réadaptation du menu pour les écran > M */
@media (min-width: 54em) {
  .main-nav {
    /* Retour à la valeur initiale de la propriété position*/
    position: static;

    /* Arrière plan transparent */
    background-color: transparent;

    /* Réinitialise la translation */
    translate: 0% 0%
  }

  .main-nav__list {
    /* Position en ligne */
    display: flex;
    flex-direction: row;


    /* Gouttiére de 2x16px */
    gap: 2rem;

    /* Redéfinir la taille de la police */
    font-size: 2rem;


    /* Couleur du texte */
    color: var(--text-color);

  }

  .main-nav__link {
    /* Marge intérieure nulle */
    padding: 0px;
  }
}

/* Menu Off canvas */

.burger {
  /* Positionne le burger sur un layer 10 */
  position: relative;
  z-index: 10;


  /* Curseur pointer */
  cursor:pointer;

  @media (min-width: 54em) {
    & {
      /* Masquer le burger */
      display: none;
    }
  }
}

.burger__line:nth-child(1) {
  /* Variable déterminant la position en y : augmente de 9px (7px position d'origine + 9px = 16px centre du svg */
  --_trans: 9px;


  /* Variable déterminant la rotation 45deg */
  --_rotate: 45deg;

  /* Orignie de la transformation (16px,7px) centre de la ligne  */
  transform-origin: 16px 7px;

  /* Temporisation retour : attente .2s > rotate durée .2s > translation durée .2s   */
  transition: translate 0.2s 0.8s ease-in-out, translate 0.2s 0.2s ease-in-out;
}

.burger__line:nth-child(2) {
  /* Temporisation retour : .4s d'attente > opacité .2s */
  transition: opacity 0.2s 0.8s ease-in-out;
}

.burger__line:nth-child(3) {
  /* Variable déterminant la position en y : diminue de 9px (25px position d'origine - 9px = 16px centre du svg */
  --_trans: -9px;


  /* Variable déterminant la rotation -45deg */
  --_rotate: -45deg;
  /* Orignie de la transformation (16px,25px)  */
  transform-origin: 16px 25px;

  /* Temporisation retour : attente .2s > rotate durée .2s > translation durée .2s   */
  transition: translate 0.2s 0.4s ease-in-out, rotate 0.2s 0.2s ease-in-out;
}

/* Au survol du burger la ligne 1 et 3 change de couleur de stroke */
.burger:hover :where(:nth-child(1), :nth-child(3)) {
  stroke: var(--btn-color-hover);
}

/* - Checked */


/* Pour toutes les lignes */
[type="checkbox"]:checked ~ .label .burger .burger__line {
  /* Applique la translation et la rotation à partir des variables privée de chaque ligne */
  transform: 0 var(--_trans);
  transform: var(--_rotate);

  /* Transition aller : après .2s d'attente > translate d'une durée de .2s > rotation d'une durée de .2s */
  transition: translate 0.2s 0.2s ease-in-out, rotate 0.2s 0.4s ease-in-out;

}

/* Pour la ligne 2 */
[type="checkbox"]:checked ~ .label .burger .burger__line:nth-child(2) {
  /* Opacité 0 */
  opacity: 0;

  /* Transition aller : opacité de .2s sans delay */
  transition: opacity 0.2s ease-in-out ;
}

/* Pour le menu */
[type="checkbox"]:checked ~ .main-nav {
  /* Réinitialise la translation */
  translate: 0% 0%;
}



