.card {
    display: flex;
    flex-direction: column;

}
search__svg
card__nav
card__text
.card__svg {
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;

}
card__title
.card__container {
    border-radius: 5%;
    overflow: hidden;

}