<div class="delMenu">
    <h4 class="delMenu__title"># Ajouter ou modifier un menu</h4>
    <form class="delMenu__form">

        <input required type="number" name="semaine" placeholder="semaine" min="1" max="52">
        <select name="jour">
            <option value="lundi">Lundi</option>
            <option value="mardi">Mardi</option>
            <option value="mercredi">Mercredi</option>
            <option value="jeudi">Jeudi</option>
            <option value="vendredi">Vendredi</option>
            <option value="samedi">Samedi</option>
            <option value="dimanche">Dimanche</option>
        </select>

        <input onclick="{{handler}}" type="button" value="delete" name="todo">

    </form>
</div>