.card {
    grid-area: t;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding: 1rem;
    background-color: var(--clr-very-dark-blue);
}

.title_smaller {
    padding-top: 1em;
    font-size: large;
    font-weight: 700;
}

.title--white {
    color: var(--clr-off-white);
}

.text--gray {
    padding: 1em;
    padding-top: 0;
    color: var(--clr-dark-grayish-blue);
}

.text--lightgray {
    padding: 1em;
    padding-top: 0;
    color: var(--clr-grayish-blue);
}

.text-orange{
    padding: 1rem;
    padding-bottom: 0rem;
    color: var(--clr-soft_orange);
}

hr {
    padding: 0;
    margin: 1rem;
    opacity: 0.2;
}
.lighter-hr {
    opacity: 0.5;
}