.num {
    grid-area: n;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}
@media (min-width: 50em) {
    .row__padding {
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }
}
.column {
    flex-direction: column;
}


.num__image_container {
    flex-shrink: 0;
    width: 8em;
    margin: 1rem;
}
.num__image {
    height: 100%;
    width: 100%;
}