@import url();

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: var(--ff-primary);
  background-color: whitesmoke;
  background-color: aliceblue;
}

.parent{
  display: flex;
  flex-direction: column;
  align-items: center ;
  max-width: fit-content;
  gap: 1rem;
  background-color: white;
}

.headtitle {
  grid-area: t;
  background-color: blue;
  padding: 2rem;
  color: white;
}

.main__card {
  padding: 2rem;
  background-color: white;
  box-shadow: 3px black;
  color: blue;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  width: fit-content;
  background-color: white;
}

.card__hat1 {
  grid-area: h1;
}




.card__img-cont {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}

@media (min-width: 50em) {
  .parent{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "g a a d"
      "g b c d"
      "h b c d"
      "h f e e";
  }
}