:root {


  --ff-primary: "Heebo";
  --ff-primary: "Bungee";
  --ff-primary: "  Bungee Shade";

  
  color: rgb(2, 2, 177);
  color: rgba(2, 2, 177, 0.9);
  color: rgb(255, 255, 255);
}
  