.profilepop__card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 2rem;
  width: 300px;
  max-width: 90%;
  background-color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilepop__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 9990;
  
}
.profilepop__container {
  gap: 1rem;
}