<div class="addMovie">
  <h2 class="addMovie__title">Modifer un profil d'utilisateur existant</h2>
  <form class="updateProfile__form addProfile__form">
    <select class="addMovie__intput" id="profileSelector" onchange="{{hProfileSelectChange}}">
      <option disabled selected value="">Sélectionner un profil à modifier</option>
      <!-- Les profils seront chargés dynamiquement ici -->
      {{profiles}}
    </select>

    <input
      class="addMovie__intput"
      required
      type="text"
      id="name"
      name="name"
      placeholder="Nom"
    />

    <input
      class="addMovie__intput"
      required
      type="number"
      id="age"
      name="age"
      placeholder="Âge"
      min="0"
      max="150"
    />

    <input
      class="addMovie__intput"
      type="text"
      id="avatar"
      name="avatar"
      placeholder="Nom de fichier de l'avatar"
    />

  <div type="button" class="addMovie__sendbutton" onclick="{{handler}}">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="addProfile__icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        width="20"
        height="20"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        />
      </svg>
      Modifier
  </div>
  </form>
</div>
