header {
  position: sticky;
  z-index: 10;
  top: 0;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: var(--color-bg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: auto;
  align-items: center;
  color: var(--color-fg);

  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-fg);
  padding: 1rem;
}

.navbar__item--disabled {
  color: grey;
  text-decoration: none;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.navbar__item--disabled {
  color: grey;
  text-decoration: none;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}







/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.5rem;
  background-color: var(--color-bg);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .navbar__item {
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.dropdown-content .navbar__item:hover {
  text-underline-offset: 0.5rem;
  background-color: var(--color-gray-darker);
}

.navbar__item--disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}





.navbar__profiles_dropdown {
  position: relative;
}


.addprofile__input:focus {
  border: block;
  background-color: var(--color-fg);
  color: var(--color-black);
  
}
