<div class="addProfile">
  <h2 class="addProfile__title">Ajouter un profile d'utilisateur</h2>
  <form class="addProfile__form">
    <input
      class="addProfile__intput"
      required
      type="text"
      name="name"
      placeholder="Nom"
    />

    <input
      class="addProfile__intput"
      required
      type="number"
      name="age"
      placeholder="age"
      pattern="[0-9]{3}"
      min="0"
      max="150"
    />

    <select class="addMovie__intput" name="avatar">
      <option value="1">avatar1</option>
      <option value="2">avatar1</option>
      <option value="3">avatar1</option>
      <option value="4">avatar1</option>
      <option value="5">avatar1</option>
      <option value="6">avatar1</option>
      <option value="7">avatar1</option>
      <option value="8">avatar1</option>
      <option value="9">avatar1</option>
      <option value="10">avatar1</option>
    </select>

    <div type="button" class="addMovie__sendbutton" onclick="{{handler}}">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="addProfile__icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        width="20"
        height="20"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        />
      </svg>
      Ajouter
    </div>
  </form>
</div>
