<div class="addProfile">
  <h2 class="addProfile__title">Modifer un profil d'utilisateur existant</h2>
  <form class="updateProfile__form">


  <div type="button" class="addMovie__sendbutton" onclick="{{handler}}">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="addProfile__icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        width="20"
        height="20"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        />
      </svg>
      Modifier
  </div>
  </form>
</div>



<option class="profile_select" value="{{idusers}}">{{profile_name}} ({{age}}ans)</option>
